body {
    position: relative;
    min-width: 1890px;
    min-height: 910px;
    /* color: black; */
    background-color: whitesmoke;
  }
  .top {
    width: 1400px;
    height: 117px;
    border: 10px;
    border-style: solid;
    border-color: silver;
    /* color: black; */
    background-color: silver;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}
.top form{
    padding: 3px;
    /* float: right; */
    clear: both;
    margin-left: 1256px;
    border-style: groove;
    width: fit-content;
    height: inherit;
    margin-top: 20px;
}

  #top_split{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  #top_bars {
    width: 1610px;
    height: 117px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
#top_bars a button {
  width: auto;
  height: auto;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  background-color: transparent;
  border-color: transparent;
}

#wrappertop {
  width: 78px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#wrappertop a button{
  background-color: transparent;
  border-color: transparent;
}

#ok_button{
  margin-top: 6px;
  margin-left: 111px;
}

menu {
  display: flex;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

#usr_link {
  float: right;
  font-family: 'Roboto', sans-serif;
}

#logout {
    font-size: small;
}


.small {
  height: 50px;
  width: 60px;
  border-style: solid;
  border:3px;
  border-color: black;
  border-radius: 1px;
  box-shadow: 0px 0px 1px 2px black;
}
#logo {
  width: auto;
  max-height: 117px;
  fill-opacity: 0.6;
  background-color: #f0f0f03d;
  border-style: solid;
  border-width: 5px;
  border-color: #f0f0f03d;
  border-radius: 58px;
  box-shadow: 0px 0px 4px 1px #f0f0f03d;
}
  /*
  .wrap {
    position: relative;
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
   
  .left {
    width: 120px;
    height: 405px;
    border: 10px;
    border-style: solid;
    border-color: #909090;
    background-color: #909091;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    display: block;
    float: left;
  }
   
  .main {
    width: 1000px;
    height: 562px;
    border: 10px;
    border-style: solid;
    border-color: #909090;
    color: black;
    background-color: #909091;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    display: block;
    margin-left: 30px;
    float: left;
  }
   
  .right {
    width: 120px;
    height: 405px;
    border: 10px;
    border-style: solid;
    border-color: #909090;
    color: black;
    background-color: #909091;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    display: block;
    float: left;
    margin-left: 30px;
  }
   
  .icon {
    height: 70px;
    margin-top: 2px;
  }
   
  .brick {
    height: 70px;
    width: 120px;
    background-image: url(resources/brick.jpg);
    background-repeat: repeat;
  }
   
  #top_image {
    height: 120px;
    float: left;
  }
   
  #loupe {
    margin-left: 659px;
    float: left;
  }
   
  #main_image {
    width: 1000px;
    height: 562px;
  }
   
  #look {
    height: 70px;
    margin-top: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    border-width: 5px;
  }
   
  #towel {
    width: 70px;
    margin-top: 2px;
  }
   
  #book {
    width: 70px;
    margin-top: 2px;
  }
   
  .form {
    width: 520px;
    height: 170px;
    border: 0px;
    border-style: solid;
    color: black;
    background-color: #7afa77;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    display: block;
    margin-left: -75px;
    margin-top: 520px;
    z-index: 10;
    position: absolute;
    font-family: sans-serif;
    letter-spacing: 0.65px;
    font-size: 17px;
    text-align: left;
   
  }
  
  .form p {
    display: inline;
  }
  
  .form h2 {
    display: inline;
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: lighter;
  }
   
  .form h3 {
    font-family: sans-serif;
    letter-spacing: 0.65px;
    font-size: 17px;
    text-align: left;
    text-shadow: 5px 5px 5px red;
    display: inline;
    font-weight: normal;
  }
   
  .form input[type=text] {
    width: 380px;
    height: 14px;
    margin-left: 13px;
    margin-top: 3px;
    border: 2px solid;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
    border-left-color: #9d969d;
    border-top-color: #9d969d;
  }
   
  .form input[type=submit] {
    width: 80px;
    height: 20px;
    margin-left: 4px;
    margin-bottom: 0;
    border-radius: 1px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.25px;
    background: linear-gradient(#f0f0f0, #dcdcdc);
    border: solid #9d969d 1px;
  }
  
  .hidden{
  visibility: hidden;
  }
  
  .click-mac{
  width: 122px;
  height: 109px;
    margin-left: 1217px;
    margin-top: 325px;
    z-index: 10;
    position: absolute;
  }
  */